@inherits LayoutComponentBase

<div class="container py-3">
    <link href="css/login.css" rel="stylesheet">
    @Body <!-- This is where the page content will be inserted -->
    @* <LoginError visible="false" /> *@
</div>